
body{
    margin: 0;
    padding: 0;
    background-image: url(../img/ales-nesetril-ex_p4AaBxbs-unsplash.jpg);
    background-attachment: local;
    background-size: cover;
}

.caixa{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}



.div{
    padding-bottom: 55px;
}

.lbl{
    position: relative;
    text-align: center;
    padding: 10px;
    color: rgb(11, 204, 124);
    font-family: poppins;
    border: 1px solid rgb(11, 204, 124);
    text-transform: uppercase;
    cursor: pointer;
    border-radius: 100px;
}



.lblS{
    position: relative;
    text-align: center;
    padding: 10px 20px;
    color: rgb(11, 204, 124);
    font-family: poppins;
    border: 1px solid rgb(11, 204, 124);
    text-transform: uppercase;
    cursor: pointer;
    border-radius: 100px;
}



.ipt{
    position: relative;
    width: 200px;
    padding: 10px 15px;
    border: 1px solid rgb(11, 204, 124);
    border-radius: 100px;
}

input{
    background-color: rgba(210, 05, 25, 0);
    border: none;
    color: rgb(11, 204, 124);
    font-family: poppins;
    padding: 5px;
}

.btn{
    position: relative;
    text-align: center;
    left: 40%;
    width: fit-content;
    padding: 10px;
    color: rgb(11, 204, 124);
    background-color:rgba(210, 05, 25, 0);
    font-family: poppins;
    border: 1px solid rgb(11, 204, 124);
    text-transform: uppercase;
    cursor: pointer;
    border-radius: 100px;
    transition: 0.5s;
}

.btn:hover{
    box-shadow: 0 2px 10px 0 rgb(11, 204, 124) inset, 0 2px 10px 0 rgb(11, 204, 124),
    0 2px 10px 0 rgb(11, 204, 124) inset, 0 2px 10px 0 rgb(11, 204, 124);
}

.btn:active{
    box-shadow: none;
    padding-bottom: 5px;
}

.btnPI{
    padding: 15px;
}

.btnI{
    position: relative;
    text-align: center;
    width: 300px;
    padding: 10px;
    color: rgb(11, 204, 124);
    background-color: rgba(210, 05, 25, 0);
    font-family: poppins;
    font-size: 25px;
    border: 1px solid rgb(11, 204, 124);
    text-transform: uppercase;
    cursor: pointer;
    border-radius: 100px;
    transition: 0.5s;
}

.btnI:hover{
    box-shadow: 0 2px 10px 0 rgb(11, 204, 124) inset, 0 2px 10px 0 rgb(11, 204, 124),
    0 2px 10px 0 rgb(11, 204, 124) inset, 0 2px 10px 0 rgb(11, 204, 124);
}

.btnI:active{
    box-shadow: none;
    padding-bottom: 5px;
}
.caixa2{
    position: relative;
    top: 100px;
    left: 23%;
    text-align: center;
}
 
.subcaixa{
    float: left;
}

.lbln{
    position: relative;
    width: fit-content;
    height: fit-content;
    top: 10px;
}

.lblName{
    position: relative;
    text-align: center;
    top: 20px;
    padding: 10px 20px;
    color: rgb(11, 204, 124);
    font-family: poppins;
    border: 1px solid rgb(11, 204, 124);
    text-transform: uppercase;
    cursor: pointer;
    border-radius: 100px;
}


#tbl1{
    position: relative;
    left: 20%;
    margin-top: 100px;
    height: 100px;
    width: 550px;
    text-align: center;
    color: rgb(11, 204, 124);
    border-color: rgb(11, 204, 124);
    font-family: poppins;
    text-transform: uppercase;
    cursor: no-drop;
}

.btnbackLv{
    position: relative;
    text-align: center;
    width: 200px;
    top: 480px;
    float: right;
    color: rgb(11, 204, 124);
    background-color: rgba(210, 05, 25, 0);
    font-family: poppins;
    font-size: 25px;
    border: 1px solid rgb(11, 204, 124);
    text-transform: uppercase;
    cursor: pointer;
    border-radius: 100px;
    transition: 0.5s;
}

.btnbackLv:hover{
    box-shadow: 0 2px 10px 0 rgb(11, 204, 124) inset, 0 2px 10px 0 rgb(11, 204, 124),
    0 2px 10px 0 rgb(11, 204, 124) inset, 0 2px 10px 0 rgb(11, 204, 124);
}

.btnbackLv:active{
    box-shadow: none;
    padding-bottom: 5px;
}

.btnSair{
    position: relative;
    text-align: center;
    width: 200px;
    top: 510px;
    float: right;
    color: rgb(11, 204, 124);
    background-color: rgba(210, 05, 25, 0);
    font-family: poppins;
    font-size: 25px;
    border: 1px solid rgb(11, 204, 124);
    text-transform: uppercase;
    cursor: pointer;
    border-radius: 100px;
    transition: 0.5s;
}

.btnSair:hover{
    box-shadow: 0 2px 10px 0 rgb(11, 204, 124) inset, 0 2px 10px 0 rgb(11, 204, 124),
    0 2px 10px 0 rgb(11, 204, 124) inset, 0 2px 10px 0 rgb(11, 204, 124);
}

.btnSair:active{
    box-shadow: none;
    padding-bottom: 5px;
}

.caixaL{
    position: relative;
    top: 150px;
    left: 25%;
}

.btnS{
    position: relative;
    text-align: center;
    width: 300px;
    padding: 10px;
    color: rgb(11, 204, 124);
    background-color: rgba(210, 05, 25, 0);
    font-family: poppins;
    font-size: 25px;
    border: 1px solid rgb(11, 204, 124);
    text-transform: uppercase;
    cursor: pointer;
    border-radius: 100px;
    transition: 0.5s;
}

.btnS:hover{
    box-shadow: 0 2px 10px 0 rgb(11, 204, 124) inset, 0 2px 10px 0 rgb(11, 204, 124),
    0 2px 10px 0 rgb(11, 204, 124) inset, 0 2px 10px 0 rgb(11, 204, 124);
}

.btnS:active{
    box-shadow: none;
    padding-bottom: 5px;
}

.btnback{
    position: relative;
    text-align: center;
    width: 200px;
    top: 400px;
    float: right;
    color: rgb(11, 204, 124);
    background-color: rgba(210, 05, 25, 0);
    font-family: poppins;
    font-size: 25px;
    border: 1px solid rgb(11, 204, 124);
    text-transform: uppercase;
    cursor: pointer;
    border-radius: 100px;
    transition: 0.5s;
}

.btnback:hover{
    box-shadow: 0 2px 10px 0 rgb(11, 204, 124) inset, 0 2px 10px 0 rgb(11, 204, 124),
    0 2px 10px 0 rgb(11, 204, 124) inset, 0 2px 10px 0 rgb(11, 204, 124);
}

.btnback:active{
    box-shadow: none;
    padding-bottom: 5px;
}

.btnbackcon{
    position: relative;
    text-align: center;
    width: 200px;
    top: 310px;
    float: right;
    color: rgb(11, 204, 124);
    background-color: rgba(210, 05, 25, 0);
    font-family: poppins;
    font-size: 25px;
    border: 1px solid rgb(11, 204, 124);
    text-transform: uppercase;
    cursor: pointer;
    border-radius: 100px;
    transition: 0.5s;
}

.btnbackcon:hover{
    box-shadow: 0 2px 10px 0 rgb(11, 204, 124) inset, 0 2px 10px 0 rgb(11, 204, 124),
    0 2px 10px 0 rgb(11, 204, 124) inset, 0 2px 10px 0 rgb(11, 204, 124);
}

.btnbackcon:active{
    box-shadow: none;
    padding-bottom: 5px;
}

#operadora {
    text-align: center;
    width: 200px;
    left: 200px;
    color: rgb(11, 204, 124);
    background-color: rgba(210, 05, 25, 0);
    font-family: poppins;
    font-size: 25px;
    border: 1px solid rgb(11, 204, 124);
    text-transform: uppercase;
    cursor: pointer;
    border-radius: 100px;
    transition: 0.5s;
}

p{
    text-align: center;
    width: 80%;
    color: rgb(11, 204, 124);
    font-family: poppins;
    font-size: 20px;
    text-transform: uppercase;
}

.btnbackCR{
    position: relative;
    text-align: center;
    width: 200px;
    top: 510px;
    float: right;
    color: rgb(11, 204, 124);
    background-color: rgba(210, 05, 25, 0);
    font-family: poppins;
    font-size: 25px;
    border: 1px solid rgb(11, 204, 124);
    text-transform: uppercase;
    cursor: pointer;
    border-radius: 100px;
    transition: 0.5s;
}

.btnbackCR:hover{
    box-shadow: 0 2px 10px 0 rgb(11, 204, 124) inset, 0 2px 10px 0 rgb(11, 204, 124),
    0 2px 10px 0 rgb(11, 204, 124) inset, 0 2px 10px 0 rgb(11, 204, 124);
}

.btnbackCR:active{
    box-shadow: none;
    padding-bottom: 5px;
}

.btn2{
    position: relative;
    text-align: center;
    left: 39%;
    width: 200px;
    margin-top: 20px;
    color: rgb(11, 204, 124);
    background-color:rgba(210, 05, 25, 0);
    font-family: poppins;
    font-size: 25px;
    border: 1px solid rgb(11, 204, 124);
    text-transform: uppercase;
    cursor: pointer;
    border-radius: 100px;
    transition: 0.5s;
}

.btn2:hover{
    box-shadow: 0 2px 10px 0 rgb(11, 204, 124) inset, 0 2px 10px 0 rgb(11, 204, 124),
    0 2px 10px 0 rgb(11, 204, 124) inset, 0 2px 10px 0 rgb(11, 204, 124);
}

.btn2:active{
    box-shadow: none;
    padding-bottom: 5px;
}

.btnPin{
    position: relative;
    text-align: center;
    width: 300px;
    left: 37%;
    top: 200px;
    padding: 10px;
    color: rgb(11, 204, 124);
    background-color: rgba(210, 05, 25, 0);
    font-family: poppins;
    font-size: 25px;
    border: 1px solid rgb(11, 204, 124);
    text-transform: uppercase;
    cursor: pointer;
    border-radius: 100px;
    transition: 0.5s;
}

.btnPin:hover{
    box-shadow: 0 2px 10px 0 rgb(11, 204, 124) inset, 0 2px 10px 0 rgb(11, 204, 124),
    0 2px 10px 0 rgb(11, 204, 124) inset, 0 2px 10px 0 rgb(11, 204, 124);
}

.btnPin:active{
    box-shadow: none;
    padding-bottom: 5px;
}

.backCr{
    position: relative;
    text-align: center;
    float: right;
    top: 500px;
    width: 200px;
    color: rgb(11, 204, 124);
    background-color:rgba(210, 05, 25, 0);
    font-family: poppins;
    font-size: 25px;
    border: 1px solid rgb(11, 204, 124);
    text-transform: uppercase;
    cursor: pointer;
    border-radius: 100px;
    transition: 0.5s;
}

.backCr:hover{
    box-shadow: 0 2px 10px 0 rgb(11, 204, 124) inset, 0 2px 10px 0 rgb(11, 204, 124),
    0 2px 10px 0 rgb(11, 204, 124) inset, 0 2px 10px 0 rgb(11, 204, 124);
}

.backCr:active{
    box-shadow: none;
    padding-bottom: 5px;
}

.btnCr{
    position: relative;
    text-align: center;
    margin-top: 20px;
    width: 200px;
    color: rgb(11, 204, 124);
    background-color:rgba(210, 05, 25, 0);
    font-family: poppins;
    font-size: 25px;
    border: 1px solid rgb(11, 204, 124);
    text-transform: uppercase;
    cursor: pointer;
    border-radius: 100px;
    transition: 0.5s;
}

.btnCr:hover{
    box-shadow: 0 2px 10px 0 rgb(11, 204, 124) inset, 0 2px 10px 0 rgb(11, 204, 124),
    0 2px 10px 0 rgb(11, 204, 124) inset, 0 2px 10px 0 rgb(11, 204, 124);
}

.btnCr:active{
    box-shadow: none;
    padding-bottom: 5px;
}

.btnTroca{
    position: relative;
    text-align: center;
    margin-top: 20px;
    width: 200px;
    color: rgb(11, 204, 124);
    background-color:rgba(210, 05, 25, 0);
    font-family: poppins;
    font-size: 25px;
    border: 1px solid rgb(11, 204, 124);
    text-transform: uppercase;
    cursor: pointer;
    border-radius: 100px;
    transition: 0.5s;
}

.btnTroca:hover{
    box-shadow: 0 2px 10px 0 rgb(11, 204, 124) inset, 0 2px 10px 0 rgb(11, 204, 124),
    0 2px 10px 0 rgb(11, 204, 124) inset, 0 2px 10px 0 rgb(11, 204, 124);
}

.btnTroca:active{
    box-shadow: none;
    padding-bottom: 5px;
}

.bck{
    position: relative;
    text-align: center;
    float: right;
    top: 500px;
    width: 200px;
    color: rgb(11, 204, 124);
    background-color:rgba(210, 05, 25, 0);
    font-family: poppins;
    font-size: 25px;
    border: 1px solid rgb(11, 204, 124);
    text-transform: uppercase;
    cursor: pointer;
    border-radius: 100px;
    transition: 0.5s;
}

.bck:hover{
    box-shadow: 0 2px 10px 0 rgb(11, 204, 124) inset, 0 2px 10px 0 rgb(11, 204, 124),
    0 2px 10px 0 rgb(11, 204, 124) inset, 0 2px 10px 0 rgb(11, 204, 124);
}

.bck:active{
    box-shadow: none;
    padding-bottom: 5px;
}

.rec{
    position: relative;
    text-align: center;
    top: 200px;
    width: 90%;
    color: rgb(11, 204, 124);
    background-color:rgba(210, 05, 25, 0);
    font-family: poppins;
    font-size: 25px;
    border: 1px solid rgb(11, 204, 124);
    text-transform: uppercase;
    cursor: pointer;
    border-radius: 100px;
    transition: 0.5s;
}

.bckRec{
    position: relative;
    text-align: center;
    float: right;
    top: 400px;
    width: 200px;
    color: rgb(11, 204, 124);
    background-color:rgba(210, 05, 25, 0);
    font-family: poppins;
    font-size: 25px;
    border: 1px solid rgb(11, 204, 124);
    text-transform: uppercase;
    cursor: pointer;
    border-radius: 100px;
    transition: 0.5s;
}

.bckRec:hover{
    box-shadow: 0 2px 10px 0 rgb(11, 204, 124) inset, 0 2px 10px 0 rgb(11, 204, 124),
    0 2px 10px 0 rgb(11, 204, 124) inset, 0 2px 10px 0 rgb(11, 204, 124);
}

.bckRec:active{
    box-shadow: none;
    padding-bottom: 5px;
}

.caixaL{
    position: relative;
    top: 150px;
    left: 25%;
}

#erro{
    padding-top: 10px;
    text-align: center;
    color: rgb(11, 204, 124);
    background-color:rgba(210, 05, 25, 0);
    font-family: poppins;
    font-size: 25px;
}